---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;

---
<BaseLayout pageTitle={frontmatter.title}>
</BaseLayout><style>
    .tags{ 
display: flex; 
list-style: none; 
padding: 0; 
} 
.tag ~ .tag::before{ 
content: ", "; 
}
</style>

<p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
<p><em>{frontmatter.description}</em></p>
<p>Written by {frontmatter.author}</p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<ul class="tags">{frontmatter.tags.map((tag: unknown) => <li class="tag show">{tag}</li>)}</ul>
<slot />
</BaseLayout>